@import url("https://font.googleapis.com/css?family-Indie+Flower");
@import url("https://font.googleapis.com/css?family=Amatic+SC");

body{
  font-family: 'Indie Flower', cursive !important;
  background: #fde3a7;
  margin: 0px;
  padding: 0px;
}

::selection{
  background: transparent;
}
h4{
  font-size: 26px;
  line-height: 1px;
  font-family: 'Amatic SC', cursive !important;
}
.color1{
  color: #1bbc9b;
}
.color2{
  color: #c0392b;
}
.card{
  color: #012343;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 760px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, -5), 20px 0 60px rgba(0, 0, 0, .5),;
  transition: 1s;
}
.card:hover{
  transform: translate(-50%, -50%) perspective(2000px) rotate(15deg) scale(1.2);
}
.card:before{
  content: '';
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: #bac1ba;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.card:after{
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 5px;
  height: 100%;
  background: #92a29c;
  transform-origin: left;
  transform: skewY(-45deg);
}
.card .imgBox{
  width: 100%;
  height: 100%;
  position: relative;
  tranform-origin: left;
  transition: .75;
}
.card .bark{
  position: absolute;
  background: #e8e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .75;
}
.card .imgBox img{
  min-width: 350px;
  min-height: 760px;
}
.card:hover .imgBox{
  transform: rotateY(-13deg);
}
.card:hover .bark{
  opacity: 1;
  transition: .65;
  box-shadow: 360px 280px 100px rgba(0, 0, 0, .4) inset;
}
.card .details{
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 120px;
  z-index: -1;
  margin-top: 70px;
}
.card .details h4{
  text-align: center;
}
.text-left {
  text-align: left;
}
